{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"
    />

    <title>Home</title>
  </head>

  <body>
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-nav">
      <div class="container-fluid">
        <a class="navbar-brand text-light fw-bold" href="/">RANNSOLVE</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-4">
            <li class="nav-item mx-4">
              <div class="text-center text-light">
                <i class="bi bi-speedometer2"></i>
              </div>
              <a class="nav-link active text-light" aria-current="page" href="#">DASHBOARD</a>
            </li>
            <li class="nav-item mx-4">
              <div class="text-center text-light">
                <i class="bi bi-list"></i>
              </div>
              <a class="nav-link active text-light" aria-current="page" href="#">CONFIGURE PROCESS</a>
            </li>
            <li class="nav-item mx-4">
              <div class="text-center text-light">
                <i class="bi bi-file-arrow-up-fill"></i>
              </div>
              <a class="nav-link active text-light" aria-current="page" href="#">IMPORT TRAINING</a>
            </li>
            <li class="nav-item mx-4">
              <div class="text-center text-light">
                <i class="bi bi-globe"></i>
              </div>
              <a class="nav-link active text-light" aria-current="page" href="#">GLOBAL</a>
            </li>
          </ul>
          <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="#">Pinkal <i class="bi bi-person"></i> </a>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </nav>
    <!-- navbar end -->

    {% block maincontent %} {% endblock %}

    <!-- footer -->

    <nav class="navbar navbar-light bg-light w-100 position-fixed bottom-0 ">
      <div class="container-fluid text-center">
        <div class="navbar-brand text-muted fs-6 mx-auto">
            {% now 'Y' %} Copyright. All Rights Reserved.
        </div>
      </div>
    </nav>
    <!-- footer end -->

    <!-- bootstrap cnd for click the nave-bar btn  -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
