{% extends "base/base.html" %}
{% load static %}
{% block maincontent %}
<!-- main content -->

<div class="container py-3">
  <div class="navbar navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="#"><u>CNN </u></a>
    </div>
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-7">
          </div>
          <div class="col">
            <div class="row">
              <div class="col text-end">
                <button class="btn text-light rounded-0 bg-nav " type="button">Update </button>
              </div>
              <div class="col">
                <button class="btn text-light rounded-0 bg-nav" type="button">Cancel </button>
              </div>
              <div class="col">
                <nav aria-label="Page navigation example">
                  <ul class="pagination ">
                    <li class="page-item  "><a class="page-link rounded-0  border-secondary text-dark"
                        href="#">Previous</a></li>
                    <li class="page-item "><a class="page-link rounded-0  border-secondary text-dark" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- form section one -->
      <div class="container pt-5">
        <div class="row">
          <div class="col">
            <div class="container">
              <div class="row g-2">
                <div class="">
                  <div class="p-3 border ">PROCESS DETAILS</div>
                </div>
                <div class="">
                  <div class="p-3 border bg-nav text-light">CNN MODEL</div>
                </div>
                <div class="">
                  <div class="p-3 border ">MANAGE ATTRIBUTE</div>
                </div>
                <div class="">
                  <div class="p-3 border ">IMPORT SCHEDULER</div>
                </div>
                <div class="">
                  <div class="p-3 border ">EXPORT SCHEDULR</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row g-5  align-items-center pt-2">
              <div class="col-4">
                <label for="inputPassword6" class="col-form-label"><span class="star"></span></label>
              </div>
              <div class="col">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1" checked>
                  <label class="form-check-label" for="inlineRadio1">Single Class </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Multi Class</label>
                </div>
              </div>
            </div>
            <div class="row g-5 align-items-center pt-2">
              <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Type<span class="star">*</span></label>
              </div>
              <div class="col">
                <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example">
                  <option selected>Activ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

            </div>
            <div class="row g-5  align-items-center pt-2">
              <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Name<span class="star">*</span></label>
              </div>
              <div class="col">
                <input type="password" id="inputPassword6" class="form-control rounded-0"
                  aria-describedby="passwordHelpInline">
              </div>
            </div>
            <div class="row g-5  align-items-center pt-2">
              <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Cofidence Threshold<span
                    class="star">*</span></label>
              </div>
              <div class="col">
                <input type="password" id="inputPassword6" class="form-control rounded-0"
                  aria-describedby="passwordHelpInline">
              </div>
            </div>
            <div class="row g-5  align-items-center pt-2">
              <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Sample File<span class="star">*</span></label>
              </div>
              <div class="col">
                <input class="form-control rounded-0" type="file" id="formFile">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Epochs<span class="star">*</span></label>
              </div>
              <div class="col">
                <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example">
                  <option selected>Activ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

            </div>
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Batch Size<span class="star">*</span></label>
              </div>
              <div class="col">
                <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example">
                  <option selected="">Activ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="inputPassword6" class="col-form-label">kernel Initializer<span class="star">*</span></label>
              </div>
              <div class="col">
                <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example">
                  <option selected="">Activ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Optimize<span class="star">*</span></label>
              </div>
              <div class="col">
                <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example">
                  <option selected="">Activ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Test Size<span class="star">*</span></label>
              </div>
              <div class="col">
                <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example">
                  <option selected="">Activ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Activation<span class="star">*</span></label>
              </div>
              <div class="col">
                <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example">
                  <option selected="">Activ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-4">
            </div>
            <div class="col">
            </div>
            <div class="col">
              <div class="d-grid gap-2 d-md-block">
                <button class="btn text-light rounded-0 bg-nav" type="button">+Add</button>
                <button class="btn text-light rounded-0 bg-nav" type="button">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-4">

            </div>
            <div class="col">
              Data Table
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>




<!-- main content end-->
{% endblock %}