{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block maincontent %}
<!-- main content -->



<div class="container py-3">
  <div class="navbar navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="#"><u>CNN </u></a>
    </div>
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-7">
          </div>
          <div class="col">
            <div class="row">
              <div class="col text-end">
                <button class="btn text-light rounded-0 bg-nav " type="button">Update </button>
              </div>
              <div class="col">
                <button class="btn text-light rounded-0 bg-nav" type="button">Cancel </button>
              </div>
              <div class="col">
                <nav aria-label="Page navigation example">
                  <ul class="pagination ">
                    <li class="page-item  "><a class="page-link rounded-0  border-secondary text-dark"
                        href="#">Previous</a></li>
                    <li class="page-item "><a class="page-link rounded-0  border-secondary text-dark" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- form section one -->
      <div class="container pt-5">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-4 col-xl-4 col-xxl-4">
            <div class="container">
              <div class="row g-2">
                <div class="">
                  <div class="p-3 border ">PROCESS DETAILS</div>
                </div>
                <div class="">
                  <div class="p-3 border bg-nav text-light">CNN MODEL</div>
                </div>
                <div class="">
                  <div class="p-3 border ">MANAGE ATTRIBUTE</div>
                </div>
                <div class="">
                  <div class="p-3 border ">IMPORT SCHEDULER</div>
                </div>
                <div class="">
                  <div class="p-3 border ">EXPORT SCHEDULR</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4 col-xl-4 col-xxl-4">
            <form action="/add_cnn_model" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
            <div class="row g-5  align-items-center pt-2">
              <div class="col-4">
                <label for="inputtext1" class="col-form-label"><span class="star"></span></label>
              </div>
              <div class="col">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1" checked>
                  <label class="form-check-label" for="inlineRadio1">Single Class </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2" disabled>
                  <label class="form-check-label" for="inlineRadio2">Multi Class</label>
                </div>
              </div>
            </div>
            <div class="row g-5 align-items-center pt-2">
              <div class="col-4">
                <label for="inputtexttype" class="col-form-label">Type<span class="star">*</span></label>
              </div>
              <div class="col">
                {% render_field form.type class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
                {% comment %} {{ form.type }} {% endcomment %}
                {% comment %} <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example" name="type">
                  <option selected value="Regular_Model">Regular Model</option>
                  <option value="VCG_Model">VCG Model</option>
                </select> {% endcomment %}
              </div>

            </div>
            <div class="row g-5  align-items-center pt-2">
              <div class="col-4">
                <label for="inputtextname" class="col-form-label">Name<span class="star">*
                </span></label>
              </div>
              <div class="col">
                {% render_field form.name class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
                {% comment %} {{ form.name }} {% endcomment %}
                {% comment %} <input type="text" id="inputname" class="form-control rounded-0"
                  aria-describedby="textHelpInline" name='name'> {% endcomment %}
                  <div id="name" class="form-text">Enter a valid model name and space are not allowed.</div>
              </div>
        
            </div>
            <div class="row g-5  align-items-center pt-2">
              <div class="col-4">
                <label for="inputtext4" class="col-form-label">Cofidence Threshold<span
                    class="star">*</span></label>
              </div>
              <div class="col">
                {% render_field form.cofidence_number class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
                {% comment %} {{ form.cofidence_number }} {% endcomment %}
                {% comment %} <input type="number" id="inputtext5" class="form-control rounded-0"
                  aria-describedby="textHelpInline" name='cofidence_number'> {% endcomment %}
                  <div id="confidence" class="form-text">Enter a number between 0 and 100</div>
              </div>
            </div>
            <div class="row g-5  align-items-center pt-2">
              <div class="col-4">
                <label for="inputtext6" class="col-form-label">Sample File<span class="star">*</span></label>
              </div>
              <div class="col-8">
                {% comment %} {{ form.sample_file }} {% endcomment %}
                <input type="file" name="sample_file">
                <div id="file" class="form-text">only valid zip file and contain 200-500 image files </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4 col-xl-4 col-xxl-4">
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="inputtext7" class="col-form-label">Epochs<span class="star">*</span></label>
              </div>
              <div class="col">
                {% render_field form.epochs class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
                {% comment %} {{ form.epochs }} {% endcomment %}
                {% comment %} <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example" name='epochs'>
                  <option selected value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                  <option value="60">60</option>
                  <option value="70">70</option>
                  <option value="80">80</option>
                  <option value="90">90</option>
                  <option value="100">100</option>
                </select> {% endcomment %}
              </div>

            </div>
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="inputtext8" class="col-form-label">Batch Size<span class="star">*</span></label>
              </div>
              <div class="col">
                {% render_field form.Batch class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
                {% comment %} {{ form.Batch }} {% endcomment %}
                {% comment %} <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example" name='Batch'>
                  <option selected="" value="16">16</option>
                  <option value="32">32</option>
                  <option value="64">64</option>
                </select> {% endcomment %}  
              </div>
            </div>
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="inputtext9" class="col-form-label">kernel Initializer<span class="star">*</span></label>
              </div>
              <div class="col">
                {% render_field form.kernel_Initializer class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
                {% comment %} {{ form.kernel_Initializer }} {% endcomment %}
                {% comment %} <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example" name="kernel_Initializer">
                  <option selected="" value="he_noraml">he_noraml</option>
                  <option value="he_uniform">he_uniform</option>
                </select> {% endcomment %}
              </div>
            </div>
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="inputtext10" class="col-form-label">Optimize<span class="star">*</span></label>
              </div>
              <div class="col">
                {% render_field form.optimize class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
                {% comment %} {{ form.optimize }} {% endcomment %}
                {% comment %} <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example" name='optimize'>
                  <option selected="" value="rmsprop">rmsprop</option>
                  <option value="xrmprop">xrmprop</option>
                </select> {% endcomment %}
              </div>
            </div>
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="inputtext11" class="col-form-label">Test Size<span class="star">*</span></label>
              </div>
              <div class="col">
                {% render_field form.test_size class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
              
                {% comment %} <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example" name='test_size'>
                  <option selected="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                </select> {% endcomment %}
              </div>
              
            </div>
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="inputtext12" class="col-form-label">Activation<span class="star">*</span></label>
              </div>
              <div class="col">
                {% render_field form.activation class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
                {% comment %} {{ form.activation }} {% endcomment %}
                {% comment %} <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example" name='activation'>
                  <option selected="relu">relu</option>
                  <option value="esl">esl</option>
                </select> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-4">
            </div>
            <div class="col">
            </div>
            <div class="col">
              <div class="d-grid gap-2 d-md-block">
                <button class="btn text-light rounded-0 bg-nav" type="submit">+Add</button>
                <button class="btn text-light rounded-0 bg-nav" type="button">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">

              <form>

            </div>
            <div class="col-12 py-3 table-responsive pt-4">
              <table class="table table-striped table-bordered" id="myTable">
                <thead>
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cofidence Threshold</th>
                    <th scope="col">Sample File</th>
                    <th scope="col">Epochs</th>
                    <th scope="col">Batch Size</th>
                    <th scope="col">kernel Initializer</th>
                    <th scope="col">Optimize</th>
                    <th scope="col">Test Size</th>
                    <th scope="col">Activation</th>
                    <th scope="col">Class's</th>
                  </tr>
                </thead>
                <tbody>
                  {% for n in cnn_data%}
                  <tr>
                    <th>{{n.type}}</th>
                    <th>{{n.name}}</th>
                    <th>{{n.cofidence_number}}</th>
                    <th>{{n.sample_file}}</th>
                    <th>{{n.epochs}}</th>
                    <th>{{n.Batch}}</th>
                    <th>{{n.kernel_Initializer}}</th>
                    <th>{{n.optimize}}</th>
                    <th>{{n.test_size}}</th>
                    <th>{{n.activation}}</th>
                    <th>{{n.cnnclass}}</th>
                  </tr>
                  {% endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>


<script src="script/site.js"></script>

<script>
  $(document).ready(function() {
    $('#myTable').DataTable();
});
</script>



<!-- main content end-->
{% endblock %}