{% extends "base/base.html" %}
{% load static %}
{% block maincontent %}
<!-- main content -->

<div class="container py-3">
    <nav class="navbar navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="#">PROCESS MANAGEMENT</a>
    
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="#" class="link-primary">Dashboard</a>
                </div>/
                <div class="col">
                    <a href="#" class="link-primary">ICA</a>
                </div>
            </div>
        </div>
    </nav>
</div>



<!-- main content end-->
{% endblock %}