{% extends "base/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block maincontent %}
<!-- main content -->

<div class="container py-3">
  <div class="navbar navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="#"><u>CONFIGURE NEW PROCESS</u></a>
    </div>
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-7">
          </div>
          <div class="col">
            <div class="row text-end">
              <form action="/add_process" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="d-grid gap-2 d-md-block">
                <button class="btn rounded-0 bg-nav m-2" type="submit">Create & continune Next</button>
                <button class="btn text-light rounded-0 bg-nav" type="button">Clear</button>
                <button class="btn text-light rounded-0 bg-nav" type="button">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- form section one -->
      <div class="container pt-5">
        <div class="row">
          <div class="col">
            <div class="container">
              <div class="row g-2">
                <div class="">
                  <div class="p-3 border text-light bg-nav">CONFIGURE PROCESS</div>
                </div>
                <div class="" id="hideValuesOnSelect">
                  <div class="p-3 border ">CNN MODEL</div>
                </div>
                <div class="">
                  <div class="p-3 border ">MANAGE ATTRIBUTE</div>
                </div>
                <div class="">
                  <div class="p-3 border ">IMPORT SCHEDULER</div>
                </div>
                <div class="">
                  <div class="p-3 border ">EXPORT SCHEDULR</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row g-5  align-items-center pt-2">
              <div class="col-4">
                <label for="inputname" class="col-form-label">Process Name<span class="star">*</span></label>
              </div>
              <div class="col ">
                {% render_field form.process_name class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
               
              </div>
            </div>
            <div class="row g-5 align-items-center pt-2">
              <div class="col-4">
                <label for="" class="col-form-label">Pipeline<span class="star">*</span></label>
              </div>
              <div class="col">
                {% render_field form.pipeline class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
               
              </div>

            </div>
            <div class="row g-5 align-items-center pt-2">
              <div class="col-4">
                <label for="" class="col-form-label">Classification Model<span
                    class="star">*</span></label>
              </div>
              <div class="col">
                {% render_field form.classification_model class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
               
              </div>
            </div>
            <div class="row g-5 align-items-center pt-2">
              <div class="col-4">
                <label for="" class="col-form-label">Input Documents<span class="star">*</span></label>
              </div>
              <div class="col">
                {{form.Input_documents}}
              </div>
            </div>
          </div>
          <div class="col">


            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="" class="col-form-label">Time Zone<span class="star">*</span></label>
              </div>
              <div class="col">
                {% render_field form.time_zone class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
                
              </div>

            </div>
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="" class="col-form-label">Process SLA<span class="star">*</span></label>
              </div>
              <div class="col">
                {% render_field form.process_sla class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
               
              </div>
            </div>
            <div class="row g-3 align-items-center pt-2">
              <div class="col-4">
                <label for="" class="col-form-label">Pre Processing<span class="star">*</span></label>
              </div>
              <div class="col">
                {% render_field form.pre_processing class="form-control rounded-0" id='exampleFormControlSelect1' aria-label="" name="classification_model" %}
               
              </div>
            </div>

         

          </div>
        </div>
        <!-- end form section one -->
        <div class="container pt-4">
          <div class="row">
            <div class="col">

            </div>
            <div class="col">

              <div class="row g-5 align-items-center pt-2">
                <div class="col-4">
                  <label for="" class="col-form-label">User ID<span class="star">*</span></label>
                </div>
                <div class="col">
                  <input type="text" id="" class="form-control rounded-0"
                    aria-describedby="" name="user_id">
                </div>

              </div>

              <div class="row g-5  align-items-center pt-2">
                <div class="col-4">
                  <label for="" class="col-form-label">Password<span class="star">*</span></label>
                </div>
                <div class="col">
                  <input type="password" id="" class="form-control rounded-0"
                    aria-describedby="" name="password">
                </div>
              </div>
              <div class="row g-5  align-items-center pt-2">
                <div class="col-4">
                  <label for="" class="col-form-label">First name<span class="star">*</span></label>
                </div>
                <div class="col">
                  <input type="text" id="" class="form-control rounded-0"
                    aria-describedby="" name="first_name">
                </div>
              </div>
              <div class="row g-5  align-items-center pt-2">
                <div class="col-4">
                  <label for="" class="col-form-label">Email ID<span class="star">*</span></label>
                </div>
                <div class="col">
                  <input type="email" id="" class="form-control rounded-0"
                    aria-describedby="" name="email">
                </div>
              </div>

            </div>
            <div class="col">
              <div class="row g-5  align-items-center pt-2">
                <div class="col-4">
                  <label for="" class="col-form-label">Last Name<span class="star">*</span></label>
                </div>
                <div class="col">
                  <input type="text" id="" class="form-control rounded-0"
                    aria-describedby="" name="last_name">
                </div>
              </div>
              <div class="row g-5 align-items-center pt-2">
                <div class="col-4">
                  <label for="" class="col-form-label">User type<span class="star">*</span></label>
                </div>
                <div class="col">
                  <select class="form-select rounded-0 mb-2 text-muted" aria-label="Default select example" name="user_type">
                    <option selected>client</option>
                  </select>
                </div>

              </div>

              <div class="row g-5  align-items-center pt-2">
                <div class="col-4">
                  <label for="" class="col-form-label">Confirm text<span class="star">*</span></label>
                </div>
                <div class="col">
                  <input type="text" id="" class="form-control rounded-0"
                    aria-describedby="" name="confirm_text">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <form>
    </div>
  </div>


</div>
</div>
</div>
</div>
</div>
</div>




<!-- main content end-->
{% endblock %}