{% extends "base/base.html" %}
{% load static %}
{% block maincontent %}
<!-- main content -->


<div class="container text-center w-75">
    <img src="../.././static/media/images/mac1.jpg" class="img-fluid" alt="...">
  </div>


  <div class="container pt-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card h-100">
          <div class='card_image'><img src="../.././static/media/images/pro1.jpeg" class="card-img-top" alt="..."></div>
          <div class="position-absolute w-100 card-logo">
          </div>
          <div class="card-body pt-5 text-muted">
            <div class=""><i class="bi bi-cart-fill"></i> Delivery Free : Free</div>
            <div class=""><i class="bi bi-alarm"></i> Delivery Time : 4 Days</div>
            <div class="">
              <div class="star main-color">
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <span class=""> 4.5</span>
                <span class="float-end text-dark"><i class="bi bi-chat-left-fill"></i> 05</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class='card_image'><img src="../.././static/media/images/pro2.jpg" class="card-img-top " alt="..."></div>
          <div class="position-absolute w-100 card-logo">
          </div>
          <div class="card-body pt-5 text-muted">
            <div class=""><i class="bi bi-cart-fill"></i> Delivery Free : Free</div>
            <div class=""><i class="bi bi-alarm"></i> Delivery Time : 4 Days</div>
            <div class="">
              <div class="star main-color">
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <span class=""> 4.5</span>
                <span class="float-end text-dark"><i class="bi bi-chat-left-fill"></i> 05</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class='card_image'><img src="../.././static/media/images/pro3.jpg" class="card-img-top " alt="..."></div>
          <div class="position-absolute w-100 card-logo">
          </div>
          <div class="card-body pt-5 text-muted">
            <div class=""><i class="bi bi-cart-fill"></i> Delivery Free : Free</div>
            <div class=""><i class="bi bi-alarm"></i> Delivery Time : 4 Days</div>
            <div class="">
              <div class="star main-color">
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <span class=""> 4.5</span>
                <span class="float-end text-dark"><i class="bi bi-chat-left-fill"></i> 05</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class='card_image'><img src="../.././static/media/images/pro4.jpeg" class="card-img-top" alt="..."></div>
          <div class="position-absolute w-100 card-logo">
          </div>
          <div class="card-body text-muted">
            <div class=""><i class="bi bi-cart-fill"></i> Delivery Free : Free</div>
            <div class=""><i class="bi bi-alarm"></i> Delivery Time : 4 Days</div>
            <div class="">
              <div class="star main-color">
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <i class=""><i class="bi bi-star-fill"></i></i>
                <span class=""> 4.5</span>
                <span class="float-end text-dark"><i class="bi bi-chat-left-fill"></i> 05</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container text-center w-75 pt-4">
    <img src="../.././static/media/images/mac2.jpg" class="img-fluid" alt="...">
</div>






<!-- main content end-->
{% endblock %}